extends layout

block content
  main
    section.search-section.home-search
      .masthead.text-center
        .container
          .row
            .col-lg-8.mx-md-auto
              a(href='/')
                h1 Tweetlyzer
              form(action = 'result', method='get')
                input.search-field(type='text',name="search_query" placeholder='Search Here.... ')
                button(type='submit')
                  i.icon.icon-search
  section.topics
    .container
      .row
        .col-xl-4.col-md-6
          .topics-wrapper.border-style
            h3  Word Cloud 
            #myChart
        .col-xl-4.col-md-6
          .topics-wrapper.border-style
            h3 Sentiments of tweets
            svg#fillgauge(width='100%' height='400px',display ='none')
  #text
    
  script.
    window.onload = function(){
      tweetWriter(!{resultarray});
      console.log(!{sentiment});
      var sentimentball = ((!{sentiment}) - (-0.5))/(1)*100;
      var config = liquidFillGaugeDefaultSettings();
      var gauge = loadLiquidFillGauge("fillgauge", sentimentball, config);
      parsewords(!{impwords});
    }
  script(src='main.js', language='JavaScript')