extends layout

block content
  h1= title
  p twitter #{title}
  .container
    .row
      .col-md-3
      .col-md-6.main
        form(action = 'result',method = "get")
          h1 Search here.
          input#searchbox(type="text", name="search_query", placeholder='Enter your search Query')
          br
          button#search_button() Search
          
      //div to show results
  br
  .container
    .row
      .col-md-2
        P Average sentiment : !{sentiment}
        p#text
        
      br
  script.
    window.onload = function(){
      x(!{resultarray});
    }