extends layout

block content
  .container
    .row
      .col-md-4.main
        form(action = 'result',method = "get")
          h3 Search here.
            input#searchbox(type="text", name="search_query", placeholder='Enter your search Query')
            br
            button#search_button() Search
          
      //div to show results
  br
  svg#fillgauge5(width='19%', height='200', onclick='gauge5.update(NewValue());')
  .container
    .row
      .col-md-2
        P Average sentiment : !{sentiment}
        p#text
        
      br
  script.
    window.onload = function(){
      tweetWriter(!{resultarray});
      loadsentiment(!{sentiment});
    }