body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: 0;
}

a {
    color: #00B7FF;
    text-decoration: none
}
#tweets{
    height: 100px;
    width: 800px;
    padding: 25px;
    background-color: #1565C0;
    margin-left: 36%;
    border-radius: 1em;
    font-weight:500;
    margin: 10 auto;
    font-weight: 600;
    color: white;
    align-content: center;
}
#text{
    height: 100px;
    width: 800px;
}