body {
    
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: 0;
}

a {
    color: #00B7FF;
    text-decoration: none
}
#tweets{
    height: auto;
    width: 100%;
    padding: 25px;
    background-color: #1565C0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1em;
    margin: 10 auto;
    font-weight: 600;
    color: white;
    align-content: center;
}
#text{
    height: 100px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 79%;
}